.MainContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.SecondaryHeader {
    padding: 2rem 4rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SecondaryHeader button {
    background-color: transparent;
    border: 1px solid #214CBC;
    /* text-decoration: underline; */
    outline: none;
    color: #214CBC;
    border-radius: 50px;
    margin-top: 5px;
    padding-block: 5px;
    padding-inline: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s all;
    display: flex;
    align-items: center;
    margin-left: 5px;
}



.TabHeader {
    padding: 1.5rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.TabHeader button {
    font-size: 16px;
    padding-inline: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-block: 5px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 30px;
    margin-right: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
}

/* 
.TabHeader button:nth-child(4) {
    padding-inline: 0px !important;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    background-color: #214CBC;
    border-radius: 38px;
    margin-right: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 38px;
} */


.ActionHeader {
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SecondaryHeader h1 {
    margin: 0;
}

.ActionHeader .InputWrapper input {
    background-color: white;
    outline: none;
    border: none;
}

.InputWrapper {
    border: 1px solid rgb(224, 224, 224);
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 9px 10px;
}

.TableSectionLayout {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: auto;
    position: relative;
}

.TableSectionLayoutAccess {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    overflow: auto;
    position: relative;
}

.TableSectionLayoutAccess p {
    font-size: 18px;
}

.TableSectionLayoutAccess button {
    background-color: #214CBC;
    border: none;
    outline: none;
    padding-inline: 20px;
    padding-block: 8px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}



.UpperLayout {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin: 0px 4rem 7px;
}

.TableSection {
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(224, 224, 224);
    width: 32%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.TableSection2 {
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(224, 224, 224);
    width: 32%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    padding-block: 20px;
    margin-top: 5px;
    margin-right: 5px;
}



.TableSection3 {
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(224, 224, 224);
    width: 32%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    /* flex-direction: column; */
    /* padding-block: 20px; */
    margin-top: 5px;
    margin-right: 5px;
}

.CheckBtn {
    background-color: transparent;
    margin: 0;
    padding-block: 4px;
    padding-inline: 4px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00ce8d;
    border-radius: 40px;
    margin-left: 5px;
    cursor: pointer;
}

.CloseBtn {
    background-color: transparent;
    margin: 0;
    cursor: pointer;
    padding-block: 4px;
    padding-inline: 4px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 40px;
    margin-left: 10px;
}

.YesTag {
    background-color: #a8ffe3;
    width: fit-content;
    padding-inline: 15px;
    padding-block: 2px;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    border: 1px solid#01ca8a;
}

.NoTag {
    background-color: rgb(253, 191, 191);
    width: fit-content;
    padding-inline: 15px;
    padding-block: 2px;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    border: 1px solid red;
}

.packageCard {
    display: flex;
    align-items: center;
}

.packageCard h3 {
    margin-block: 5px !important;
}

.packageCard p {
    margin-left: 10px;
    font-size: 12px;
    background-color: gainsboro;
    padding-inline: 10px;
    padding-block: 2px;
    border-radius: 20px;
    margin-block: 0px;
}

.CardMainPackage {
    cursor: pointer;
}

.CardMainPackage .CardDescription {
    font-size: 13px;
    margin-block: 5px;
    color: rgb(150, 150, 150);
}

.CardMainPackage .CardAmount {
    margin-block: 5px;
}

.packageHr {
    border: 1px solid rgb(235, 235, 235);
}

.CardMainPackage {
    border-bottom: 1px solid rgb(224, 224, 224);
    padding-block: 10px;
}

.FooterContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-block: 10px;
}

.FooterContainer :nth-child(2) {
    background-color: #214CBC;
    color: white;
    border: 1px solid #214CBC;
    padding-inline: 15px;
    padding-block: 5px;
    margin-left: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.FooterContainer :nth-child(1) {
    background-color: transparent;
    color: #3d3d3d;
    border: 1px solid #3d3d3d;
    padding-inline: 15px;
    padding-block: 5px;
    margin-left: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.DownloadNotTime {
    background-color: #c7d7ff;
    width: calc(100% - 20px);
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-inline: 10px;
    color: #5e5e5e;
}

.DownloadData {
    padding-top: 8px;
    display: flex;
    align-items: center;
}

.DownloadData p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.DownloadData span {
    color: #878787;
}



@media (max-width: 479px) {}

@media (min-width: 480px) and (max-width: 767px) {}

@media (min-width: 100px) and (max-width: 1023px) {
    .SecondaryHeader {
        padding: 2rem 1rem;
    }

    .ActionHeader {
        padding: 2rem 1rem;
    }

    .TableSection {
        margin: 0px 0rem 40px;
    }

    .TableSection2 {
        margin: 0px 0rem 40px;
    }

    .TableSection3 {
        margin: 0px 0rem 40px;
    }

    .SecondaryHeader h1 {
        margin: 0;
        font-size: 25px;
    }
}

@media (min-width: 1023px) and (max-width: 1654px) {
    .SecondaryHeader {
        padding: 2rem 2rem;
    }

    .ActionHeader {
        padding: 2rem 2rem;
    }

    .TableSection {
        margin: 0px 1rem 20px;
    }

    .TableSection2 {
        margin: 0px 1rem 20px;
    }

    .TableSection3 {
        margin: 0px 1rem 20px;
    }
}

@media (min-width: 100px) and (max-width: 1654px) {
    .TabHeader button {
        font-size: 16px;
        padding-inline: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-block: 5px;
        border: 1px solid rgb(216, 216, 216);
        border-radius: 30px;
        margin-right: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
    }

    .InputWrapper {
        border: 1px solid rgb(224, 224, 224);
        background-color: rgb(255, 255, 255);
        border-radius: 7px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 4px 8px;
    }

    .SecondaryHeader {
        padding: 1rem 1rem;
        background-color: white;
    }

    .TabHeader {
        padding: 1rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .SecondaryHeader h1 {
        margin: 0;
    }

}


.SideInfo {
    width: 70%;
    height: 100%;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.ProgressInfo {
    width: 30%;
    height: 100%;
    padding: 25px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SideInfo h1 {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.SideInfo h4 {
    margin: 0;
    padding: 0;
    color: #878787;
    font-weight: 500;
}

.SideInfo button {
    background-color: transparent;
    border: 1px solid #214CBC;
    /* text-decoration: underline; */
    outline: none;
    color: #214CBC;
    border-radius: 50px;
    margin-top: 5px;
    padding-block: 5px;
    padding-inline: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s all;
    display: flex;
    align-items: center;
}


.InfoColumnDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 25px;
    height: 33.33%;
    padding-block: 5px;
}

.InfoColumnDiv p {
    margin: 0;
}

/* 
.SideInfo button:hover{
    background-color: #214CBC;
    color: white;
    border:1px solid white;
} */

.CountPurchase {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.CountPurchase input {
    padding-block: 10px;
    padding-inline: 10px;

}


@media (min-width: 100px) and (max-width: 1654px) {
    .UpperLayout {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        margin: 0px 1rem 7px;
    }


    .TableSection {
        background-color: white;
        border-radius: 8px;
        border: 1px solid rgb(224, 224, 224);
        width: 45%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        display: flex;
        align-items: center;
    }

    .TableSection2 {
        background-color: white;
        border-radius: 8px;
        border: 1px solid rgb(224, 224, 224);
        width: 45%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        display: flex;
        flex-direction: column;
        padding-block: 20px;
        margin-top: 5px;
    }

    .TableSection3 {
        background-color: white;
        border-radius: 8px;
        border: 1px solid rgb(224, 224, 224);
        width: 45%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        display: flex;
        /* flex-direction: column; */
        /* padding-block: 20px; */
        margin-top: 5px;
    }
}


@media (min-width: 100px) and (max-width: 1114px) {
    .ProgressInfo {
        width: 45%;
        height: 100%;
        padding: 25px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .UpperLayout {
        flex-direction: column;
    }

    .TabHeader {
        padding: 0rem 1rem 10px 1rem !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .TabHeader div:nth-child(2) {
        margin-top: 10px;
    }

    .TabHeader button {
        margin-top: 10px;
    }


    .TableSection {
        background-color: white;
        border-radius: 8px;
        border: 1px solid rgb(224, 224, 224);
        width: 100%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        display: flex;
        align-items: center;
    }

    .TableSection2 {
        background-color: white;
        border-radius: 8px;
        border: 1px solid rgb(224, 224, 224);
        width: 100%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        display: flex;
        flex-direction: column;
        padding-block: 20px;
        margin-top: 5px;
    }

    .TableSection3 {
        background-color: white;
        border-radius: 8px;
        border: 1px solid rgb(224, 224, 224);
        width: 100%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        display: flex;
        /* flex-direction: column; */
        /* padding-block: 20px; */
        margin-top: 5px;
    }
}